/**************************************
               Colors
**************************************/
$main: #D7DD35;
$sub: #347C90;
$green: #9BC53D;


/**************************************
               Colors
**************************************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

$Roboto: ('Roboto');
$OpenSans: ('Open Sans');